@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full font-['Open_Sans',sans-serif];
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@layer components {
  .mc-skeleton {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 74.5%, 0.2) 25%,
      hsla(0, 0%, 50.6%, 0.24) 37%,
      hsla(0, 0%, 74.5%, 0.2) 63%
    );
    background-size: 400% 100%;
    animation: skeleton-loading 3s ease infinite;
  }

  .mc-custom-slider {
    -webkit-appearance: none;
    @apply w-[300px];
  }

  .mc-custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply mt-[-7px] h-6 w-6 rounded-full border-[1px] border-solid border-[purple] bg-white;
  }

  .mc-custom-slider::-webkit-slider-runnable-track {
    @apply h-[10px] w-full cursor-pointer rounded bg-[purple];
  }
}

@keyframes heart-grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}

@keyframes kinetic-loader-b {
  0%,
  25% {
    transform: rotateZ(90deg);
  }

  50%,
  75% {
    transform: rotateZ(270deg);
  }

  100% {
    transform: rotateZ(450deg);
  }
}

@keyframes kinetic-loader-a {
  0%,
  25% {
    transform: rotateZ(0);
  }

  50%,
  75% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes good-cheap-fast-check {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes good-cheap-fast-not-check {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animated-countdown {
  0% {
    transform: rotateZ(180deg);
  }

  40% {
    transform: rotateZ(-20deg);
  }

  60% {
    transform: rotateZ(20deg);
  }

  100% {
    transform: rotateZ(-180deg);
  }
}
